[submodule "blockchain/TRST0"]
	path = blockchain/TRST0
	url = https://github.com/TroodInc/TRST0
[submodule "business-objects/ORM"]
	path = business-objects/ORM
	url = https://github.com/TroodInc/custodian
[submodule "infrastructure/auth"]
	path = infrastructure/auth
	url = https://github.com/TroodInc/trood-auth
[submodule "infrastructure/mail"]
	path = infrastructure/mail
	url = https://github.com/TroodInc/trood-mail
[submodule "infrastructure/fileservice"]
	path = infrastructure/fileservice
	url = https://github.com/TroodInc/trood-fileservice
[submodule "front-end/trood-core-template"]
	path = front-end/trood-core-template
	url = https://github.com/TroodInc/trood-core-template

